tmp
*.bin
lse
.noseids

.coveralls-token
.coveralls.yml

# Global wildcards
*.o
*.swp

forth/ducky-forth

# Test logs
tests-*

.sconsign.dblite
tests/.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

build/
dist/
*.egg-info/
.tox/

# Sphinx documentation
docs/_build/
docs/ducky.rst
